.pagitation-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.top{
    /* width:100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


button[clicked]{
    color:red;
}

.btn-secondary{
    margin:0.25rem;
    padding: 0.25rem;
}

.input{
    border-radius: 3px;
}