@font-face {
    font-family: 'bucks';
    src: url('./fonts/nba-bucks.ttf') format('truetype');
}
@font-face {
    font-family: 'bulls';
    src: url('./fonts/nba-bulls.ttf') format('truetype');
}
@font-face {
    font-family: 'cavaliers';
    src: url('./fonts/nba-cavaliers.ttf') format('truetype');
}
@font-face {
    font-family: 'celtics';
    src: url('./fonts/nba-celtics.ttf') format('truetype');
}
@font-face {
    font-family: 'clippers';
    src: url('./fonts/nba-clippers.ttf') format('truetype');
}
@font-face {
    font-family: 'grizzlies';
    src: url('./fonts/nba-grizzlies.ttf') format('truetype');
}
@font-face {
    font-family: 'hawks';
    src: url('./fonts/nba-hawks.ttf') format('truetype');
}
@font-face {
    font-family: 'heat';
    src: url('./fonts/nba-heat.ttf') format('truetype');
}
@font-face {
    font-family: 'hornets';
    src: url('./fonts/nba-hornets.ttf') format('truetype');
}
@font-face {
    font-family: 'jazz';
    src: url('./fonts/nba-jazz.ttf') format('truetype');
}
@font-face {
    font-family: 'kings';
    src: url('./fonts/nba-kings.ttf') format('truetype');
}
@font-face {
    font-family: 'knicks';
    src: url('./fonts/nba-knicks.ttf') format('truetype');
}
@font-face {
    font-family: 'lakers';
    src: url('./fonts/nba-lakers.ttf') format('truetype');
}
@font-face {
    font-family: 'magic';
    src: url('./fonts/nba-magic.ttf') format('truetype');
}
@font-face {
    font-family: 'mavericks';
    src: url('./fonts/nba-mavericks.ttf') format('truetype');
}
@font-face {
    font-family: 'nets';
    src: url('./fonts/nba-nets.ttf') format('truetype');
}
@font-face {
    font-family: 'nuggets';
    src: url('./fonts/nba-nuggets.ttf') format('truetype');
}
@font-face {
    font-family: 'pacers';
    src: url('./fonts/nba-pacers.ttf') format('truetype');
}
@font-face {
    font-family: 'pelicans';
    src: url('./fonts/nba-pelicans.ttf') format('truetype');
}
@font-face {
    font-family: 'pistons';
    src: url('./fonts/nba-pistons.ttf') format('truetype');
}
@font-face {
    font-family: 'raptors';
    src: url('./fonts/nba-raptors.ttf') format('truetype');
}
@font-face {
    font-family: 'rockets';
    src: url('./fonts/nba-rockets.ttf') format('truetype');
}
@font-face {
    font-family: 'spurs';
    src: url('./fonts/nba-spurs.ttf') format('truetype');
}
@font-face {
    font-family: 'suns';
    src: url('./fonts/nba-suns.ttf') format('truetype');
}
@font-face {
    font-family: 'timberwolves';
    src: url('./fonts/nba-timberwolves.ttf') format('truetype');
}
@font-face {
    font-family: 'trailblazers';
    src: url('./fonts/nba-trailblazers.ttf') format('truetype');
}
@font-face {
    font-family: 'warriors';
    src: url('./fonts/nba-warriors.ttf') format('truetype');
}
@font-face {
    font-family: 'wizards';
    src: url('./fonts/nba-wizards.ttf') format('truetype');
}
@font-face {
    font-family: '76ers';
    src: url('./fonts/nba-76ers.ttf') format('truetype');
}
@font-face {
    font-family: 'draftkings';
    src: url('./fonts/lhf_boston_truckstyle.ttf') format('truetype');
}
@font-face {
    font-family: 'fanduel';
    src: url('./fonts/ProximaNovaRegular.otf') format('truetype');
}
@font-face {
    font-family: 'caesars';
    src: url('./fonts/RobotoCondensed-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'bovada';
    src: url('./fonts/Rubik-Regular.ttf') format('truetype');
}