body {
  background-color: #faf7f2;
}

// Define color variables
$scrollbar-track-color: 	#E8E8E8;
$scrollbar-thumb-color: #EA6607;
$scrollbar-thumb-hover-color: #555;

// Global scrollbar styling
// ::-webkit-scrollbar {
//     width: 12px;
// }

::-webkit-scrollbar-track {
    background: $scrollbar-track-color;
}

::-webkit-scrollbar-thumb {
    background: $scrollbar-thumb-color;
}

// ::-webkit-scrollbar-thumb:hover {
//     background: $scrollbar-thumb-hover-color;
// }

// Firefox
* {
    scrollbar-color: $scrollbar-thumb-color $scrollbar-track-color;
}
