.headlines-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
  margin: 2rem;
  background-color: #FAF7F2;
}

.headlines-description {
  color: white;
  padding: 1.5rem;
  font-family: 'UberMove', 'UberMoveText', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: justify;
  border: 2px solid #ccc;
  background-color: black;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.headlines-title {
  font-size: 24px;
  animation: fadeIn 1s ease;
  color: rgb(7, 7, 7);
  font-family: 'UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif';
  font-weight: bold;
}

.headline-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

}

.headline {
  width: 300px;
  padding: 20px;
  margin: 30px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: black;
  animation: slideInUp 1s ease;
  height: fit-content;
}

.headline-title {
  margin-top: 30px;
  color: white;
  font-weight: bold;
  font-size: 1rem;
  font-family: 'UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif';
}

.headline-link {
  margin-top: 10px;
  color:white ;
  cursor: pointer;
  transition: color 0.3s ease;
}

.headline-link:hover {
  color: #EA6607;
}

.headline-image {
 
  width: 100%;
  height: auto;
  margin-top: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #FAF7F2;
}
.compare-card {
  color: white;
  padding: 1.5rem;
  font-family: 'UberMove', 'UberMoveText', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.6;
  text-align: justify;
  border: 2px solid #ccc;
  background-color: black;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.compare-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}
.court-im1 {
  width: 12rem;
  border-radius: 20rem;
  padding: 1rem;
  background-color: #EA6607;
  margin: 10px;
}
.img-headlines {
  display: flex;
  flex-direction: row;
  margin: 5.5rem;
}
.compare-description {
  font-size: 16px;
  margin-bottom: 15px;
  text-align: center;
}

.compare-link {
  display: block;
  margin: auto;
  padding: 10px 20px;
  background-color: #EA6607;
  color: black;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  text-align: center;
}
.text-btn:hover{
  color: white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
