.not-logged-in {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logged-in {
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  .image {
    border-radius: 20px;
    width: min-content;
    display: inline-flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .email {
    margin-top: 20px;
    font-size: 30px;
  }

  .user-image {
    border-radius: 150px;
  }
}
