.parent {
    display: flex;
    flex-direction: row;
    height: 100%;
    position: relative;

    .left {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-top: 6px;

    }

    .backgroundWrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 140px;

        .odds {
            .oddsl2 {
                justify-content: "center";
                align-items: "center";
                display: "flex";
                margin-bottom: 150px;
                margin-top: -15px;
                width: 1300px;
                max-height: 500px;

                @media (max-width: 1400px) {
                    max-width: 90%;
                }

                @media (max-width: 1300px) {
                    max-width: 75%;
                }

                @media (max-width: 1000px) {
                    max-width: 85%;
                }

                @media (max-width: 870px) {
                    justify-content: center;
                    align-items: center;
                }
            }
        }

        .middle {
            z-index: 0;
            position: relative;
        }
    }

    .left {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .right {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;

        @media (max-width: 1305px) {
            .Selector1 {
                flex-direction: column;
            }
        }

        @media (max-width: 500px) {
            .Selector1 {
                flex-direction: column;
            }
        }

    }

    .middle {
        flex: 4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        .teamLeaders {
            display: flex;
            flex-direction: column;
            justify-content: left;
            align-items: flex-start;
            margin-top: 10px;

            .leadersHeading {
                margin-top: 5px;
                // margin-left: 509px;
                padding-bottom: 5.5px;

                

                @media (max-width: 1315px) {
                    margin-left: -237px;
                }

                @media (max-width: 1315px) and (min-width: 1301px) {
                    margin-left: -222px;
                }

                @media (max-width: 1300px) {
                    margin-left: -508px;
                }

            }

            @media (max-width: 1300px) {
                justify-content: center;
                align-items: center;
            }

        }

        .team {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 5px;

            @media (max-width: 685px) {
                display: none !important;
            }

        }

        .teamsItems {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 1300px;

            @media (max-width: 1200px) {
                width: 100%;
            }

        }

    }
}