.player-comparison-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
  background-color: #faf7f2;

  .comparison-instruction{
    @media (max-width: 1400px) {
      width: 1220px;
    }
  
    @media (max-width: 1290px) {
      width: 1050px;
    }
  
    @media (max-width: 1170px) {
      width: 1000px;
    }
  
    @media (max-width: 1095px) {
      width: 950px;
    }
  
    @media (max-width: 940px) {
      width: 640px;
    }
  
    @media (max-width: 640px) {
      width: 440px;
    }
  }
}

.comparison-heading-container {
  font-family: 'UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif';
  color: black;
  font-weight: bold;
}
.img-body {
  display: flex;
  flex-direction: row;
}
.comparison-instruction-container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-family: 'UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif';
}
.court-img {
  width: 10rem;
  border-radius: 3.87rem;
  padding: 0.6rem;
  background-color: #ea6607;
  margin: 3.6rem;
}
.instruction-card {
  background-color: black;
  padding: 20px;
  color: white;
  font-family: 'UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif';
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  animation: slideInUp 1s ease;
}

.player-inputs-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  animation: slideInUp 1s ease;
}

.player-img {
  width: 300px;
  height: 200px; 
  object-fit: cover;
  box-shadow: 0px 4px 6px rgba(2, 2, 2, 0.1);
  background-color: #faf7f2;
}


.player-input {
  height: 45px;
  font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 4px;
  color: white; 
  background-color: black;
  padding-left: 10px; 
  padding-right: 14px;
  border-radius: 0;
  border: 2px solid #ccc; 
}

.player-input::placeholder {
  color: #999; 
  font-style: italic;
}


.player-input:focus {
  outline: none; 
  border-color: #ea6607; 
}
.ayer-img {
  width: 300px;
  height: 200px; 
  object-fit: cover;
  box-shadow: 0px 4px 6px rgba(2, 2, 2, 0.1);
  background-color: #faf7f2;
}

.player-info {
  background-color: #141414;
  padding: 1px;
  margin: 3rem;
  margin-top: 35px;
  font-family: 'UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif';
  font-weight: bold;
 
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  color: white;
}
.info-card {
  height: fit-content;
  margin: 25px;
  width: 100%;
 
}
.chart-container{
 cursor: pointer;
  background-color: #141414;
  margin-bottom: 100px;
  padding: 3rem;
 width: 900px;
 margin-top: 2rem;
 height: 589px;
}
.player-cards-container {
  display: flex;
  gap: 20px;
  background-color: #faf7f2;
}

.compare-button-container {
  animation: slideInUp 1s ease;
}

.compare-button {
  padding: 15px 30px;
  font-size: 18px;
  background-color: #ea6607;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.compare-button:hover {
  background-color: #ea6607;
  color: black;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
