.parent {
    display: flex;
    flex-direction: row;
    height: 100%; 

    .left,
    .right {
        flex: 1; 
        display: flex;
        flex-direction: column; 
    }

    .middle {
        flex: 4; 
        display: flex;
        flex-direction: column; 

        .Selector {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        .teamLeaders {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .team {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 10px;
            
        }

        .teamsItems {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

    }
}