.Selector{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.teamLeaders{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}