.v2__standings {
  display: flex;
  justify-content: center;
  align-items: center;
}

.h5 {
  padding-bottom: 30px;
}

.table__contain {
  margin: 0 auto;
  margin-top: 0px;

  @media (max-width: 1305px) {
    max-width: 1150px !important;
  }

  @media (max-width: 1290px) {
    max-width: 1130px !important;
  }

  @media (max-width: 1265px) {
    max-width: 1110px !important;
  }

  @media (max-width: 1250px) {
    max-width: 1100px !important;
  }

  @media (max-width: 1240px) {
    max-width: 1090px !important;
  }

  @media (max-width: 1230px) {
    max-width: 1070px !important;
  }

  @media (max-width: 1190px) {
    max-width: 1020px !important;
  }

  @media (max-width: 1080px) {
    max-width: 950px !important;
  }

  @media (max-width: 1015px) {
    max-width: 900px !important;
  }

  @media (max-width: 915px) {
    max-width: 810px !important;
  }

  @media (max-width: 825px) {
    max-width: 740px !important;
  }

  @media (max-width: 755px) {
    max-width: 650px !important;
  }

  @media (max-width: 715px) {
    max-width: 575px !important;
  }

  @media (max-width: 605px) {
    max-width: 540px !important;
  }

  @media (max-width: 565px) {
    max-width: 505px !important;
  }

  @media (max-width: 530px) {
    max-width: 470px !important;
  }

  @media (max-width: 485px) {
    max-width: 440px !important;
  }

  @media (max-width: 460px) {
    max-width: 400px !important;
  }

  @media (max-width: 425px) {
    max-width: 370px !important;
  }

  @media (max-width: 400px) {
    max-width: 350px !important;
  }

  @media (max-width: 375px) {
    max-width: 340px !important;
  }

  @media (max-width: 355px) {
    max-width: 330px !important;
  }

  @media (max-width: 345px) {
    max-width: 310px !important;
  }

  @media (max-width: 340px) {
    max-width: 300px !important;
  }

  @media (max-width: 315px) {
    max-width: 280px !important;
  }

  .team__title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: bold;
  }

  section {
    table.table__header {
      width: 100%;
      border-collapse: collapse;

      caption {
        font-weight: bold;
        font-size: 1.2rem;
        padding: 10px;
        text-align: left;
        background-color: #faf7f2;

        img {
          vertical-align: middle;
          margin-right: 5px;
        }
      }
    }
  }

  .TableBuilder {
    width: 100%;
    margin-top: 20px;

    .TableBuilder-row {
      border-bottom: 1px solid #ccc;
    }

    .TableBuilder-cell {
      padding: 10px;
      text-align: left;
      vertical-align: middle;
    }

    .TableBuilder-header {
      background-color: #f0f0f0;
      font-weight: bold;
    }
  }
}

.east-leaders {
  display: 'flex';

  @media (max-width: 1305px) {
    display: none;
  }
}

.west-leaders {
  display: 'flex';

  @media (max-width: 1305px) {
    display: none;
  }
}

.standings {
  .subHeading_contain {
    max-width: 1278px;
  }

  .oddsT {
    width: 1278px;

    @media (max-width: 1305px) {
      max-width: 1150px;
    }

    @media (max-width: 1290px) {
      max-width: 1130px;
    }

    @media (max-width: 1265px) {
      max-width: 1110px;
    }

    @media (max-width: 1250px) {
      max-width: 1100px;
    }

    @media (max-width: 1240px) {
      max-width: 1090px;
    }

    @media (max-width: 1230px) {
      max-width: 1070px;
    }

    @media (max-width: 1190px) {
      max-width: 1020px;
    }

    @media (max-width: 1080px) {
      max-width: 950px;
    }

    @media (max-width: 1015px) {
      max-width: 900px;
    }

    @media (max-width: 915px) {
      max-width: 810px;
    }

    @media (max-width: 825px) {
      max-width: 740px;
    }

    @media (max-width: 755px) {
      max-width: 650px;
    }

    @media (max-width: 715px) {
      max-width: 575px;
    }

    @media (max-width: 605px) {
      max-width: 540px;
    }

    @media (max-width: 565px) {
      max-width: 505px;
    }

    @media (max-width: 530px) {
      max-width: 470px;
    }

    @media (max-width: 485px) {
      max-width: 440px;
    }

    @media (max-width: 460px) {
      max-width: 400px;
    }

    @media (max-width: 425px) {
      max-width: 370px;
    }

    @media (max-width: 400px) {
      max-width: 350px;
    }

    @media (max-width: 375px) {
      max-width: 340px;
    }

    @media (max-width: 355px) {
      max-width: 330px;
    }

    @media (max-width: 345px) {
      max-width: 310px;
    }

    @media (max-width: 340px) {
      max-width: 300px;
    }

    @media (max-width: 315px) {
      max-width: 280px;
    }
  }
}

.headingStandings {
  width: 1265px;

  @media (max-width: 1305px) {
    max-width: 1150px;
  }

  @media (max-width: 1290px) {
    max-width: 1130px;
  }

  @media (max-width: 1265px) {
    max-width: 1110px;
  }

  @media (max-width: 1250px) {
    max-width: 1100px;
  }

  @media (max-width: 1240px) {
    max-width: 1090px;
  }

  @media (max-width: 1230px) {
    max-width: 1070px;
  }

  @media (max-width: 1190px) {
    max-width: 1020px;
  }

  @media (max-width: 1080px) {
    max-width: 950px;
  }

  @media (max-width: 1015px) {
    max-width: 900px;
  }

  @media (max-width: 915px) {
    max-width: 810px;
  }

  @media (max-width: 825px) {
    max-width: 740px;
  }

  @media (max-width: 755px) {
    max-width: 650px;
  }

  @media (max-width: 715px) {
    max-width: 575px;
  }

  @media (max-width: 605px) {
    max-width: 540px;
  }

  @media (max-width: 565px) {
    max-width: 505px;
  }

  @media (max-width: 530px) {
    max-width: 470px;
  }

  @media (max-width: 485px) {
    max-width: 440px;
  }

  @media (max-width: 460px) {
    max-width: 400px;
  }

  @media (max-width: 425px) {
    max-width: 370px;
  }

  @media (max-width: 400px) {
    max-width: 350px;
  }

  @media (max-width: 375px) {
    max-width: 340px;
  }

  @media (max-width: 355px) {
    max-width: 330px;
  }

  @media (max-width: 345px) {
    max-width: 310px;
  }

  @media (max-width: 340px) {
    max-width: 300px;
  }

  @media (max-width: 315px) {
    max-width: 280px;
  }
}
