.parent {
    display: flex;
    flex-direction: row;
    height: 100%;
    position: relative;

    .left {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 6px;

        @media (max-width: 1135px) {
            .team__logo {
                display: none;
            }
        }
    }

    .backgroundWrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 140px;

        .middle {
            z-index: 0;
            position: relative;
        }
    }

    .left,
    .right {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .middle {
        flex: 4;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


        .Selector {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        .teamLeaders {
            display: flex;
            flex-direction: column;
            justify-content: left;
            align-items: flex-start;
            margin-top: 10px;

            @media (max-width: 1300px) {
                justify-content: center;
                align-items: center;
            }

        }

        .team {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 5px;

        }

        .teamsItems {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

    }
}