.image {
    box-shadow:
        rgba(0, 0, 0, 0.5) 0px 80px 80px,
        rgba(0, 0, 0, 0.3) 0px -20px 50px,
        rgba(0, 0, 0, 0.4) 0px 10px 20px,
        rgba(0, 0, 0, 0.35) 0px 30px 35px,
        rgba(0, 0, 0, 0.45) 0px -10px 25px,
        rgba(0, 0, 0, 0.5) 0px 100px 100px,
        rgba(0, 0, 0, 0.6) 0px 120px 120px inset;
}

#work {
    .content {
        .gallery .from-left {
            background-color: "blue" !important;
            border-radius: 8px;
            padding: 20px;
            box-shadow:
                rgba(0, 0, 0, 0.5) 0px 80px 80px -20px,
                rgba(0, 0, 0, 0.3) 0px -20px 50px -10px,
                rgba(0, 0, 0, 0.4) 0px 10px 20px -5px,
                rgba(0, 0, 0, 0.35) 0px 30px 35px -5px,
                rgba(0, 0, 0, 0.45) 0px -10px 25px -5px,
                rgba(0, 0, 0, 0.5) 0px 100px 100px -30px,
                rgba(0, 0, 0, 0.6) 0px 120px 120px -40px !important;

            @media (max-width: 430px) {
                box-shadow: none !important;
                padding: 0px !important;
            }
        }

        .gallery .from-right {
            background-color: "blue" !important;
            border-radius: 8px;
            padding: 20px;
            box-shadow:
                rgba(0, 0, 0, 0.5) 0px 80px 80px -20px,
                rgba(0, 0, 0, 0.3) 0px -20px 50px -10px,
                rgba(0, 0, 0, 0.4) 0px 10px 20px -5px,
                rgba(0, 0, 0, 0.35) 0px 30px 35px -5px,
                rgba(0, 0, 0, 0.45) 0px -10px 25px -5px,
                rgba(0, 0, 0, 0.5) 0px 100px 100px -30px,
                rgba(0, 0, 0, 0.6) 0px 120px 120px -40px !important;

            @media (max-width: 430px) {
                box-shadow: none !important;
                padding: 0px !important;
            }
        }
    }
}