.navbar {
    display: flex;
    overflow: hidden;
    position: fixed;
    top: -4px;
    width: 100%;
    left: 0;
    height: 85px;
    font-size: 30px;

}

.navbar a {
    float: left;
    display: flex;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: larger;
}

.inner {
    justify-content: space-evenly;
}

.navbar a:hover {
    background: #ddd;
    color: black;
}

.navbar-text {
    font-size: 30px;
}