.graph {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 760px;
    margin: auto;

    @media (max-width: 768px) {
        max-width: 100%;
        padding: 0 10px;
        display: none;
    }
}

.sub__heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: #ED751C;
    padding: 20px;
    height: 256px;
    margin-top: -1px;
    align-items: center;
    box-sizing: border-box;


    .info {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .head__shot,
    .team__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -10px;

        img,
        .avatar {
            height: auto;
            max-width: auto;
            max-height: 260px; 
        }
    }

    @media (max-width: 1024px) {

        .head__shot img,
        .team__logo .avatar {
            max-height: 190px; 
        }
    }

    @media (max-width: 768px) {

        .head__shot,
        .team__logo {
            display: none; 
        }
    }
}

.filler {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ED751C;
    height: 140px;
}


.divider {
    margin-top: 20px;
    width: 100%;
    margin-bottom: 40px;
}

.chart-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;

    .left,
    .right {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media (max-width: 768px) {
            display: none;
        }
    }

    .middle {
        flex: 3;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 900px;
        width: 100%;

        @media (max-width: 768px) {
            flex: 1;
            flex-direction: column;
            padding: 5px;
        }
        
        >div {
            width: 100%; 
        }

    }
}