.graph {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
}

.sub__heading {
  background-color: #ea6607;
  height: 236px;
  margin-top: -1px;

  @media (max-width: 901px) {
    margin-top: -30px;
  }

  @media (max-width: 780px) {
    margin-top: -45px;
  }

  @media (max-width: 700px) {
    margin-top: -60px;
  }

  @media (max-width: 655px) {
    margin-top: -70px;
  }

  @media (max-width: 615px) {
    margin-top: -80px;
  }

  @media (max-width: 530px) {
    margin-top: -95px;
  }

  @media (max-width: 505px) {
    margin-top: -105px;
  }

  @media (max-width: 445px) {
    margin-top: -125px;
  }

  @media (max-width: 440px) {
    margin-top: -130px;
  }

  @media (max-width: 420px) {
    margin-top: -140px;
  }

  @media (max-width: 370px) {
    margin-top: -160px;
  }

  .wraper {
    width: 100%;

    @media (min-width: 1300px) {
      width: 1300px;
    }

    .info {
      display: flex;
      justify-content: center;
      align-items: center;

      @media (max-width: 780px) {
        margin-top: 25px;
      }

      @media (max-width: 742px) {
        margin-top: 46px;
      }

      @media (max-width: 700px) {
        margin-top: 80px;
      }

      @media (max-width: 615px) {
        margin-top: 100px;
      }

      @media (max-width: 505px) {
        margin-top: 120px;
      }

      @media (max-width: 445px) {
        margin-top: 130px;
      }

      @media (max-width: 431px) {
        margin-top: 135px;
      }

      @media (max-width: 420px) {
        margin-top: 160px;
      }

      @media (max-width: 370px) {
        margin-top: 190px;
      }
    }

    .head__shot,
    .team__logo {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: -10px;

      img,
      .avatar {
        height: auto;
        max-width: auto;
        max-height: 260px;
      }
    }

    @media (max-width: 1024px) {
      .head__shot img,
      .team__logo .avatar {
        max-height: 190px;
        margin-bottom: -50px;
      }
    }

    @media (max-width: 901px) {
      .head__shot img {
        margin-right: -30px;
      }
    }

    @media (max-width: 780px) {
      .head__shot img {
        max-height: 170px;
        margin-right: -15px;
        margin-bottom: -70px;
      }
    }

    @media (max-width: 700px) {
      .head__shot img {
        max-height: 150px;
        margin-right: -15px;
        margin-bottom: -90px;
      }
    }

    @media (max-width: 655px) {
      .head__shot img {
        max-height: 140px;
        margin-right: -15px;
        margin-bottom: -100px;
      }
    }

    @media (max-width: 615px) {
      .head__shot img {
        max-height: 130px;
        margin-right: -15px;
        margin-bottom: -110px;
      }
    }

    @media (max-width: 570px) {
      .head__shot img {
        max-height: 120px;
        margin-right: -15px;
        margin-bottom: -120px;
      }
    }

    @media (max-width: 530px) {
      .head__shot img {
        max-height: 110px;
        margin-right: -15px;
        margin-bottom: -130px;
      }
    }

    @media (max-width: 505px) {
      .head__shot img {
        max-height: 105px;
        margin-right: -15px;
        margin-bottom: -135px;
      }
    }

    @media (max-width: 480px) {
      .head__shot img {
        max-height: 90px;
        margin-right: -15px;
        margin-bottom: -150px;
      }
    }

    @media (max-width: 440px) {
      .head__shot img {
        max-height: 70px;
        margin-right: -15px;
        margin-bottom: -170px;
      }
    }

    @media (max-width: 901px) {
      .selector {
        margin-top: -140px;
        z-index: 10;
        display: none;
      }
    }
  }
}

.filler {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ea6607;
  height: 140px;
}

.divider {
  margin-top: 20px;
  width: 100%;
  margin-bottom: 40px;
}

.chart-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-bottom: 50px;

  @media (min-width: 1360px) {
    max-width: 1360px;
  }

  .left,
  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (max-width: 1360px) {
      display: none;
    }
  }

  .middle {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 770px;
    width: 100%;

    @media (max-width: 1360px) {
      margin-left: auto;
      margin-right: auto;
      max-width: 1250px;
    }

    @media (max-width: 1280px) {
      max-width: 1150px;
    }

    @media (max-width: 1215px) {
      max-width: 1100px;
    }

    @media (max-width: 1165px) {
      max-width: 1065px;
    }

    @media (max-width: 1100px) {
      max-width: 1000px;
    }

    @media (max-width: 1024px) {
      max-width: 930px;
    }

    @media (max-width: 950px) {
      max-width: 870px;
    }

    @media (max-width: 890px) {
      max-width: 820px;
    }

    @media (max-width: 840px) {
      max-width: 770px;
    }

    @media (max-width: 790px) {
      max-width: 720px;
    }

    @media (max-width: 740px) {
      max-width: 680px;
    }

    @media (max-width: 700px) {
      max-width: 630px;
    }

    @media (max-width: 650px) {
      max-width: 590px;
    }

    @media (max-width: 615px) {
      max-width: 550px;
    }

    @media (max-width: 570px) {
      max-width: 520px;
    }

    @media (max-width: 540px) {
      max-width: 500px;
    }

    @media (max-width: 520px) {
      max-width: 480px;
    }

    @media (max-width: 500px) {
      max-width: 460px;
    }

    @media (max-width: 480px) {
      max-width: 440px;
    }

    @media (max-width: 460px) {
      max-width: 420px;
    }

    @media (max-width: 440px) {
      max-width: 400px;
    }

    @media (max-width: 420px) {
      max-width: 380px;
    }

    @media (max-width: 400px) {
      max-width: 360px;
    }

    @media (max-width: 380px) {
      max-width: 355px;
    }

    @media (max-width: 370px) {
      max-width: 330px;
    }

    > div {
      width: 100%;
    }
  }

  .middle::-webkit-scrollbar {
    width: 12px;
  }

  .middle::-webkit-scrollbar-track {
    background: #f0f0f0;
  }

  .middle::-webkit-scrollbar-thumb {
    background-color: #ea6607;
    // border-radius: 6px;
    // border: 3px solid #f0f0f0;
  }

  .middle {
    scrollbar-color: #ea6607 #f0f0f0;
    // scrollbar-width: thin;
  }
}
