.graph {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 760px;
    margin: auto;

    @media (max-width: 768px) {
        .graph {
            max-width: 100%;
            padding: 0 10px;
        }
    }
}

.sub__heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: #ED751C;
    padding: 20px;
    height: 256px;
    margin-top: -1px;
}

.filler {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ED751C;
    height: 140px;
}


.head__shot {
    margin-top: -10px;
}

.head__shot,
.info,
.team__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divider {
    margin-top: 20px;
    width: 100%;
}

.chart-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-bottom: 50px;

    .left, .right {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      
      .middle {
        flex: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 900px;
      }
}


@media (max-width: 768px) {
    .sub__heading {
        flex-direction: column;
        align-items: center;
    }

    .head__shot,
    .info,
    .team__logo {
        width: 100%;
        margin-top: 10px;
    }

    .divider {
        margin-top: 10px;
    }
}