.playerCardsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adjust gap as needed */
    justify-content: center; // This centers the cards within the container
    margin-top: 50px 
}
