.grid-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;



    .grid-item {
        transition: opacity 3s ease, background-image 3s ease, background-color 3s ease; 
        opacity: 1;
        box-sizing: border-box;
        border-style: groove;
        border-color: grey;
        background-color: black;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
            rgba(0, 0, 0, 0.12) 0px -12px 30px,
            rgba(0, 0, 0, 0.12) 0px 4px 6px,
            rgba(0, 0, 0, 0.17) 0px 12px 13px,
            rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
}

// left info box
.content {
    position: relative;
    z-index: 1;
    border-style: groove;
    border-color: grey;
    border-left: none;
    background-color: black;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#two {
    .content {
        box-shadow:
        rgba(0, 0, 0, 0.5) 0px 80px 80px -20px,
        rgba(0, 0, 0, 0.3) 0px -20px 50px -10px,
        rgba(0, 0, 0, 0.4) 0px 10px 20px -5px,
        rgba(0, 0, 0, 0.35) 0px 30px 35px -5px,
        rgba(0, 0, 0, 0.45) 0px -10px 25px -5px,
        rgba(0, 0, 0, 0.5) 0px 100px 100px -30px,
        rgba(0, 0, 0, 0.6) 0px 120px 120px -40px !important;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
    }
}