.TeamStatsTable {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @media (min-width: 767px) {
        max-width: 1300px;
    }

    .heading {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
    }

    .tableContainer {
        width: 100%;
        overflow-x: auto;

        @media (max-width: 767px) {
            max-width: 70%;
        }

        @media (min-width: 768px) {
            // max-width: 775px;
        }
    }
}