.TeamStatsTable1 {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 91%;

  @media (min-width: 767px) {
    max-width: 1300px;
  }

  @media (max-width: 1300px) {
    justify-content: center;
    align-items: center;
  }

  .heading {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    transition: background-color 0.5s ease-in-out;
    width: 100%;

    @media (max-width: 1300px) {
      width: 80%;
    }

    @media (max-width: 1155px) {
      width: 830px;
    }

    @media (max-width: 870px) {
      width: 700px;
    }

    @media (max-width: 750px) {
      max-width: 580px;
    }

    @media (max-width: 620px) {
      width: 460px;
    }

    @media (max-width: 494px) {
      width: 370px;
    }

    @media (max-width: 400px) {
      width: 341px;
    }

    @media (max-width: 360px) {
      width: 290px;
    }

    .titleHighlight {
      transition: background-color 0.5s ease-in-out;
    }
  }

  .tableContainer1 {
    width: 100%;
    overflow-x: auto;

    @media (max-width: 1300px) {
      width: 80%;
    }

    @media (max-width: 1155px) {
      width: 830px;
    }

    @media (max-width: 870px) {
      width: 700px;
    }

    @media (max-width: 750px) {
      width: 580px;
    }

    @media (max-width: 620px) {
      width: 460px;
    }

    @media (max-width: 494px) {
      width: 370px;
    }

    @media (max-width: 400px) {
      width: 341px;
    }

    @media (max-width: 360px) {
      width: 290px;
    }
  }
}
